<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBE7Fuu4jFV-yLW4GEEsWJ7UA5ZEDq3ZQA</string>
	<key>GCM_SENDER_ID</key>
	<string>381093165605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gametry</string>
	<key>PROJECT_ID</key>
	<string>letsplaycryptogram</string>
	<key>STORAGE_BUCKET</key>
	<string>letsplaycryptogram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381093165605:ios:ecdfa57ac78eb5a3479dcc</string>
</dict>
</plist>